<tr>
  <td><%= link_to invoice.reference, invoice %></td>
  <td><%= invoice.dated_on %></td>
  <td><%= invoice.due_on %></td>
  <td><%= link_to invoice.contact.name, invoice.contact %></td>
  <td class="number"><%= number_to_currency invoice.gross_value %></td>
  <td>
    <%= link_to 'Edit', [:edit, invoice], class: 'btn small' %>
    <%= link_to 'Delete', invoice, method: :delete, confirm: 'Are you sure?', class: 'btn small danger' %>
  </td>
</tr>
