<%= form_for purchase_invoice do |f| %>
  <%= form_text_input f, :text_field, :reference, autofocus: true, class: 'xlarge', size: 30 %>
  <div class="clearfix">
    <%= f.label :contact_id %>
    <div class="input">
      <%= f.collection_select :contact_id, Contact.all, :id, :name %>
    </div>
  </div>
  <%= form_text_input f, :text_field, :dated_on, class: 'xlarge', size: 30 %>
  <%= form_text_input f, :text_field, :payment_terms, class: 'xlarge', size: 30 %>
  <%= form_text_input f, :text_field, :trade_discount, class: 'xlarge', size: 30 %>
  <%= form_text_input f, :text_field, :settlement_discount, class: 'xlarge', size: 30 %>

  <div class="actions">
    <%= f.submit purchase_invoice.new_record? ? "Create purchase invoice" : "Update purchase invoice", class: 'btn primary' %>
    <%= link_to 'Cancel', purchase_invoices_path, class: 'btn' %>
  </div>
<% end %>
